// Enable Nextflow DSL2 syntax
nextflow.enable.dsl=2

// Environment variables
env {
  // JVM heap size (-Xmx sets the maximum heap memory) - default 100GB, modify as required
  NXF_JVM_ARGS = '-Xmx100g'
}

// Process execution configuration – modify as required
process {
  executor = 'slurm'
  queue  = 'regular'           // default SLURM queue
  cache  = 'lenient'
  errorStrategy = 'retry'      // default retry failed tasks

  // #########################################################
  // #### Resource profiles for different types of tasks #####
  // #########################################################

  // Configuration for short-running processes
  withLabel: 'process_short' {
    cpus   = 1                     // 1 CPU core
    memory = 4.GB                  // 4GB RAM
    time   = 1.h                   // 1 hour time limit
  }

  // Configuration for moderately intensive processes
    withLabel: 'process_medium' {
    cpus   = 8                     // 8 CPU cores
    memory = 16.GB                 // 16GB RAM
    time   = 8.h                   // 8 hour time limit
  }

  // Configuration for long-running, resource-intensive processes
  withLabel: 'process_long' {
    cpus   = 16                    // 16 CPU cores
    memory = 100.GB                 // 100GB RAM
    time   = 16.h                  // 16 hour time limit
  }
}

profiles {
    // using singularity profile
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        docker.enabled = false  // Explicitly disable
    }
    // using docker profile
    docker {
      docker {
          enabled = true
          runOptions = '-u $(id -u):$(id -g)'
        }
        singularity.enabled = false  // Explicitly disable
    }
    // using local profile
    local {
        process.executor = 'local'
    }
}

params {
    help = false
}

// set a custom parameter to the current date and time to create a unique file for every run
params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

// Generate execution timeline report
timeline {
    enabled = true
    overwrite = false
    file = "runInfo/execution_timeline_${params.trace_timestamp}.html"
}

// Generate execution summary report
report {
    enabled = true
    overwrite = false
    file = "runInfo/execution_report_${params.trace_timestamp}.html"
}

// Generate detailed trace log
trace {
    enabled = true
    overwrite = false
    file = "runInfo/execution_trace_${params.trace_timestamp}.txt"
    fields = "hash,native_id,name,status,exit,submit,duration,realtime,cpus,%cpu,memory,%mem,peak_rss"
}